/* David Pérez Saché */
body
{
	height: 420px;
	margin-top: 45px;
}

#izquierda
{
	margin: 0px 20px;
	width: 800px;
	height: 400px;
	float: left;
	padding: 0px 10px;
	background-color: lightblue;
}

#derecha
{
	margin: 0px 20px;
	width: 400px;
	height: 400px;
	float: left;
	padding-left: 30px; 
	background-color: lightgreen;
}

#texto
{
	padding-top: 50px;
}

#imagen
{
	margin-top: 50px;
	width: 250px;
}

form
{
	margin-top: 4em;
	border: 1px solid black;
	padding-left: 70px;
	padding-top: 1em;
	padding-bottom: 1em;
}

input[type="submit"]
{
	width: 150px;
	height: 2em;
	background-color: #D8D8D8;
}

input[type="text"]
{
	width: 500px;
}

footer
{
	width: 1260px;
	height: 100px;
	background-color: rgb(227, 133, 255);
	position: absolute;
	bottom: 0px;
}