body {
    width: 1280px;
    font-family: Arial;
    min-height: 1080px;
    margin: 0;
}

header, footer {
    background-color: lightgray;
}

header img {
    width: 31.25%;
}

main {
    min-height: 956.5px;
}

nav {
    width: 23.28125%;   /* 298px / 1280px (ancho base) * 100 = 23,28125% */
    min-height: 956.5px;
    border: 1px solid black;
    background-color: #303030;
    float: left;
}

nav div.navElemento {
    width: 97.31543624161074%;   /* 290px / 298px (ancho padre) * 100 = 97.31543624161074% */
    min-height: 25px;
    padding: 1.677852348993289%;   /* 5px / 298px (ancho padre) * 100 = 1,677852348993289% */
    color: white;
    font-weight: bold;
}

nav div.navElemento:hover {
    cursor: pointer;
    color: lightyellow;
    background-color: #505050;
}

nav div.navElementoTitulo {
    width: 97.31543624161074%;   /* 290px / 298px (ancho padre) * 100 = 97.31543624161074% */
    min-height: 25px;
    padding: 1.677852348993289%;   /* 5px / 298px (ancho padre) * 100 = 1,677852348993289% */
    color: rgb(255, 255, 196);
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

div#divTitulo {
    width: 76.40625%;   /* 978px / 1280 (ancho base) * 100 = 76,40625% */
    display: block;
    border: 1px solid black;
    margin-left: 23.4375%; /* 300px / 1280px (ancho base) * 100 = 23,4375% */
    text-align: center;
    background-color: #1b1b1b;
    color: ghostwhite;
}

div#divContenido {
    margin-left: 23.4375%; /* 300px / 1280px (ancho base) * 100 = 23,4375% */
}

form#formAlta {
    width: 81.42857142857143%;   /* 798px / 980px * 100 = 81,42857142857143% */
    border: 1px solid lightblue;
    margin: 20px 9.183673469387755%;    /* 90px / 980px * 100 = 9,183673469387755% */
    background-color:aliceblue;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

label {
    width: 50%; /* 150px / 300px * 100 = 50% */
    text-align: left;
    display: block;
}

input {
    width: 96%; /* 288x / 300px * 100 = 96% */
    height: 25px;
    border: 1px solid lightgray;
    padding: 0 1.666666666666667%;  /* 5px / 300px * 100 = 1.666666666666667% */
}

select {    /* Es de tipo border-box, así que indico el ancho total en el width */
    width: 100%;    /* 300px / 300px = 100% */
    padding: 1.666666666666667%;   /* 5px / 300px * 100 = 1.666666666666667% */
    border: 1px solid lightgray;
    background-color: white;
}

form div {
    float: left;
}

div#divSelect {
    width: 37.59398496240602%;  /* 300px / 798px * 100 = 37.59398496240602% */
    margin: 0 30.57644110275689%;   /* 244px / 798px * 100 = 30.57644110275689% */
    margin-bottom: 20px;
}

div#divTextarea {
    width: 62.65664160401003%;  /* 500px / 798px * 100 = 62,65664160401003% */
    margin: 0 18.67167919799499%;   /* 149px / 798px * 100 = 18.67167919799499% */
}

div.divCampoIzq {
    width: 37.59398496240602%;  /* 300px / 798px * 100 = width: 37.59398496240602% */
    margin: 20px 17.54385964912281% 20px 3.634085213032581%;
}

div.divCampoDer {
    width: 37.59398496240602%;  /* 300px / 798px * 100 = width: 37.59398496240602% */
    margin: 20px 3.634085213032581% 20px 0;
}

div#divBotonIzq {
    width: 18.79699248120301%   /* 150px / 798px * 100 = 18,79699248120301% */;
    margin: 20px 0;
    margin-left: 18.67167919799499%;    /* 149px / 798px * 100 = 18,67167919799499% */;
    margin-right: 25.06265664160401%;    /* 200px / 798px * 100 = 25,06265664160401% */
}

div#divBotonIzq button {     /* Al ser border-box indico el ancho total que va a tener el botón, en vez de calcularlo */
    background-color: crimson;
    color: white;
    width: 100%;   /* 150px / 150px * 100 = 100% */
    border: 1px solid black;
    padding: 3.333333333333333%; /* 5px / 150px * 100 = 3.333333333333333% */
    font-weight: bold;
}

div#divBotonDer {
    width: 18.79699248120301%   /* 150px / 798px * 100 = 18,79699248120301% */;
    margin: 20px 0;
    margin-right: 18.67167919799499%;    /* 149px / 798px * 100 = 18,67167919799499% */;
}

div#divBotonDer button {    /* Al ser border-box indico el ancho total que va a tener el botón, en vez de calcularlo */
    background-color: darkturquoise;
    color: white;
    width: 100%;   /* 150px / 150px * 100 = 100% */
    border: 1px solid black;
    padding: 3.333333333333333%; /* 5px / 150px * 100 = 3.333333333333333% */
    font-weight: bold;
}

textarea {
    width: 97.6%;
    padding: 1%;
    border: 1px solid lightgray;
    resize: none;
}

footer div#divFooter {
    width: 19.53125%;   /* 250px / 1280px * 100 = 19,53125% */
    margin: 0 40.234375%;   /* 545px / 1280px * 100 = 40,234375% */
    font-size: 0;
}

footer {
    position: relative;
    bottom: 0;
}

footer div#divFooter img {
    width: 16%;
    padding: 2%;
}

/* ----- Media Query Tablet ----- */
@media (max-width:768px) {
    body, header, footer, nav {
        width: 768px;
    }
    
    nav {
        float: none;
        min-height: 300px;
    }

    nav div.navElementoTitulo, 
    nav div.navElemento {
        text-decoration: none;
        width: 758px;
    }

    nav div.navElemento {
        font-size: 0.8em;
        text-align: center;
    }

    div#divTitulo {
        width: 768px;
        margin-left: 0;
    }

    div#divContenido {
        margin-left: 0;
    }

    form#formAlta {
        width: 726px;
        border: 1px solid lightblue;
        margin: 20px;
        background-color:aliceblue;
    }
    
    input {
        width: 288px;
        min-height: 25px;
        border: 1px solid lightgray;
        padding: 0 5px;
    }

    div.divCampoIzq {
        margin: 20px 86px 20px 20px;
    }

    div.divCampoDer {
        margin: 20px 20px 20px 0;
    }
    
    select {
        width: 300px;
        padding: 5px;
        border: 1px solid lightgray;
        background-color: white;
    }

    div#divSelect {
        margin: 20px 213px;
    }

    textarea {
        width: 488px;
        min-height: 50px;
    }

    div#divTextarea {
        margin: 0 113px;
    }

    div#divBotonIzq {
        margin-left: 113px;
        margin-right: 200px;
    }

    div#divBotonDer {
        margin-right: 113px;
    }

    div#divBotonIzq button,
    div#divBotonDer button {
        width: 150px;
    }
    
    div#divBotonDer {
        margin: 20px 0;
        margin-right: 99px;
    }
    
    footer div#divFooter {
        width: 250px;
        margin: 0 259px;
    }
}

/* ----- Media Query Smartphone ----- */
@media (max-width:420px) {
    body {
        font-size: 0.8em;
    }

    body, header, footer, nav {
        width: 420px;
    }

    header img {
        width: 210px;
        margin-left: 100px;
        margin-right: 110px;
    }

    nav {
        float: none;
        display: block;
        min-height: 35px;
    }

    nav div.navElementoTitulo, 
    nav div.navElemento {
        text-decoration: none;
        width: 410px;
    }

    div#divTitulo {
        width: 420px;
        margin-left: 0;
    }

    div#divContenido {
        margin-left: 0;
    }

    form#formAlta {
        width: 388px;
        margin: 15px;
    }

    form div {
        float: none;
    }

    input {
        width: 338px;
    }

    textarea {
        width: 338px;
        min-height: 75px;
    }

    select {
        width: 350px;
    }

    div.divCampoIzq,
    div.divCampoDer,
    div#divSelect,
    div#divTextarea {
        margin: 20px 19px;
    }

    div#divBotonIzq {
        float: left;
        width: 160px;
        margin-top: 0;
        margin-left: 29px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    div#divBotonDer {
        float: left;
        width: 160px;
        margin: 0;
        margin-right: 29px;
        margin-bottom: 20px;
    }

    footer div#divFooter {
        margin: 0 85px;
    }
}