body {
    width: 1280px;
    font-family: Arial;
    min-height: 1080px;
    margin: 0;
}

header, footer {
    background-color: lightgray;
}

header img {
    width: 31.25%;
}

main {
    min-height: 956.5px;
}

nav {
    width: 23.28125%;   /* 298px / 1280px (ancho base) * 100 = 23,28125% */
    min-height: 956.5px;
    border: 1px solid black;
    background-color: #303030;
    float: left;
}

nav div.navElemento {
    width: 97.31543624161074%;   /* 290px / 298px (ancho padre) * 100 = 97.31543624161074% */
    min-height: 25px;
    padding: 1.677852348993289%;   /* 5px / 298px (ancho padre) * 100 = 1,677852348993289% */
    color: white;
    font-weight: bold;
    margin: 10px 0;
}

nav div.navElemento:hover {
    cursor: pointer;
    color: lightyellow;
    background-color: #505050;
}

nav div.navElementoTitulo {
    width: 97.31543624161074%;   /* 290px / 298px (ancho padre) * 100 = 97.31543624161074% */
    min-height: 25px;
    padding: 1.677852348993289%;   /* 5px / 298px (ancho padre) * 100 = 1,677852348993289% */
    color: rgb(255, 255, 196);
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

div#divTitulo {
    width: 76.40625%;   /* 978px / 1280 (ancho base) * 100 = 76,40625% */
    display: block;
    border: 1px solid black;
    margin-left: 23.4375%; /* 300px / 1280px (ancho base) * 100 = 23,4375% */
    text-align: center;
    background-color: #1b1b1b;
    color: ghostwhite;
}

div#divContenido {
    margin-left: 23.4375%; /* 300px / 1280px (ancho base) * 100 = 23,4375% */
}

form#formAlta {
    width: 81.42857142857143%;   /* 798px / 980px * 100 = 81,42857142857143% */
    border: 1px solid lightblue;
    margin: 20px 9.183673469387755%;    /* 90px / 980px * 100 = 9,183673469387755% */
    background-color:aliceblue;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

label {
    width: 50%; /* 150px / 300px * 100 = 50% */
    text-align: left;
    display: block;
}

input {
    width: 96%; /* 288x / 300px * 100 = 96% */
    min-height: 25px;
    border: 1px solid lightgray;
    padding: 0 1.666666666666667%;  /* 5px / 300px * 100 = 1.666666666666667% */
}

select {    /* Es de tipo border-box, así que indico el ancho total en el width */
    width: 100%;    /* 300px / 300px = 100% */
    padding: 1.666666666666667%;   /* 5px / 300px * 100 = 1.666666666666667% */
    border: 1px solid lightgray;
    background-color: white;
}

form div {
    float: left;
}

div#divSelect {
    width: 37.59398496240602%;  /* 300px / 798px * 100 = 37.59398496240602% */
    margin: 0 30.57644110275689%;   /* 244px / 798px * 100 = 30.57644110275689% */
    margin-bottom: 20px;
}

div#divTextarea {
    width: 62.65664160401003%;  /* 500px / 798px * 100 = 62,65664160401003% */
    margin: 0 18.67167919799499%;   /* 149px / 798px * 100 = 18.67167919799499% */
}

div.divCampoIzq {
    width: 37.59398496240602%;  /* 300px / 798px * 100 = width: 37.59398496240602% */
    margin: 20px 17.54385964912281% 20px 3.634085213032581%;
}

div.divCampoDer {
    width: 37.59398496240602%;  /* 300px / 798px * 100 = width: 37.59398496240602% */
    margin: 20px 3.634085213032581% 20px 0;
}

div#divBotonIzq {
    width: 18.79699248120301%   /* 150px / 798px * 100 = 18,79699248120301% */;
    margin: 20px 0;
    margin-left: 18.67167919799499%;    /* 149px / 798px * 100 = 18,67167919799499% */;
    margin-right: 25.06265664160401%;    /* 200px / 798px * 100 = 25,06265664160401% */
}

div#divBotonIzq button {     /* Al ser border-box indico el ancho total que va a tener el botón, en vez de calcularlo */
    background-color: crimson;
    color: white;
    width: 100%;   /* 150px / 150px * 100 = 100% */
    border: 1px solid black;
    padding: 3.333333333333333%; /* 5px / 150px * 100 = 3.333333333333333% */
    font-weight: bold;
    min-height: 30px;
}

div#divBotonDer {
    width: 18.79699248120301%   /* 150px / 798px * 100 = 18,79699248120301% */;
    margin: 20px 0;
    margin-right: 18.67167919799499%;    /* 149px / 798px * 100 = 18,67167919799499% */;
}

div#divBotonDer button {    /* Al ser border-box indico el ancho total que va a tener el botón, en vez de calcularlo */
    background-color: darkturquoise;
    color: white;
    width: 100%;   /* 150px / 150px * 100 = 100% */
    border: 1px solid black;
    padding: 3.333333333333333%; /* 5px / 150px * 100 = 3.333333333333333% */
    font-weight: bold;
    min-height: 30px;
}

textarea {
    width: 97.6%;
    padding: 1%;
    border: 1px solid lightgray;
    resize: none;
}

footer div#divFooter {
    width: 19.53125%;   /* 250px / 1280px * 100 = 19,53125% */
    margin: 0 40.234375%;   /* 545px / 1280px * 100 = 40,234375% */
    font-size: 0;
}

footer {
    position: relative;
    bottom: 0;
}

footer div#divFooter img {
    width: 16%;
    padding: 2%;
}

/* ----- Media Query Tablet ----- */
@media (max-width:768px) {
    body {
        width: 768px;
    }
    
    header, footer {
        width: 100%;
    }

    header img {
        width: 52.08333333333333%;  /* 400px / 768px * 100 = 52,08333333333333% */
    }
    
    nav {
        width: 99.73958333333333%; /* 766px / 768px * 100 = 99,73958333333333% */
        min-height: 300px;
        float: none;
    }

    nav div.navElementoTitulo, 
    nav div.navElemento {
        text-decoration: none;
        width: 98.69791666666667%;  /* 758px / 768px * 100 = 98,69791666666667% */
        padding: 0.6510416666666667%; /* 5px / 768px * 100 = 0,6510416666666667% */
    }

    nav div.navElemento {
        font-size: 0.8em;
        margin: 0;
        text-align: center;
    }

    div#divTitulo {
        width: 100%;
        margin-left: 0;
    }

    div#divContenido {
        margin-left: 0;
    }

    form#formAlta {
        width: 94.53125%;   /* 726px / 768px * 100 = 94,53125% */
        border: 1px solid lightblue;
        margin: 2.604166666666667%;  /* 20px / 768px * 100 = 2,604166666666667% */
        background-color:aliceblue;
    }
    
    input {
        width: 96%;
        min-height: 25px;
        border: 1px solid lightgray;
        padding: 0 5px;
    }

    div.divCampoIzq {
        width: 41.32231404958678%;  /* 300px / 726px * 100 = 41,32231404958678% */
        margin: 20px 11.84573002754821% 20px 2.754820936639118%;
    }

    div.divCampoDer {
        width: 41.32231404958678%;  /* 300px / 726px * 100 = 41,32231404958678% */
        margin: 20px 2.754820936639118% 20px 0;
    }
    
    select {
        width: 100%;
        padding: 5px;
        border: 1px solid lightgray;
        background-color: white;
    }

    div#divSelect {
        width: 41.32231404958678%;  /* 300px / 726px * 100 = 41,32231404958678% */
        margin: 20px 29.33884297520661%;    /* 213px / 725px * 100 = 29,33884297520661% */
    }

    textarea {
        width: 97.6%;   /* 488px / 500px * 100 = 97,6% */
        min-height: 50px;
    }

    div#divTextarea {
        width: 68.87152341597796%; /* 500px / 726px * 100 = 68,87152341597796% */
        margin: 0 15.56473829201102%; /* 113px / 726px * 100 = 15,56473829201102% */
    }

    div#divBotonIzq {
        width: 20.66115702479339%;  /* 150px / 726px * 100 = 20,66115702479339% */
        margin-left: 15.56473829201102%;   /* 113px / 726px * 100 = 15,56473829201102% */
        margin-right: 27.54820936639118%;   /* 200px / 726px * 100 = 27,54820936639118% */
    }

    div#divBotonDer {
        width: 20.66115702479339%;  /* 150px / 726px * 100 = 20,66115702479339% */
        margin-right: 15.56473829201102%;   /* 113px / 726px * 100 = 15,56473829201102% */
    }

    div#divBotonDer {
        margin: 20px 0;
        margin-right: 13.63636363636364%;   /* 99px / 726px * 100 = 13,63636363636364% */
    }
    
    footer div#divFooter {
        width: 32.55208333333333%;  /* 250px / 768px * 100 = 34,43526170798898% */
        margin: 0 33.72395833333333%;    /* 259px / 768px * 100 = 33,72395833333333% */
    }
}

/* ----- Media Query Smartphone ----- */
@media (max-width:420px) {
    body {
        width: 420px;
        font-size: 0.8em;
    }

    header, footer {
        width: 100%;
    }

    header img {
        width: 50%;
        margin-left: 23.80952380952381%;    /* 100px / 420px * 100 = 23,80952380952381% */
        margin-right: 26.19047619047619%;    /* 110px / 420px * 100 = 26,19047619047619% */
    }

    nav {
        width: 99.52380952380952%;  /* 418px / 420px * 100 = 99,52380952380952%  */
        float: none;
        display: block;
        min-height: 300px;
    }

    nav div.navElementoTitulo, 
    nav div.navElemento {
        text-decoration: none;
        width: 98.08612440191388%;  /* 410px / 418px * 100 = 98,08612440191388% */
        padding: 1.196172248803828%; /* 5px / 418px * 100 = 1,196172248803828% */
    }

    nav div.navElemento {
        margin: 0;
    }

    div#divTitulo {
        width: 99.52380952380952%;  /* 418px / 420px * 100 = 99,52380952380952%  */
        margin-left: 0;
    }

    div#divContenido {
        margin-left: 0;
    }

    form#formAlta {
        width: 92.38095238095238%; /* 388px / 420px * 100 = 92,38095238095238% */
        margin: 3.571428571428571%; /* 15px / 420px * 100 = 3,571428571428571% */
    }

    form div {
        float: none;
    }

    input, textarea {
        width: 96.57142857142857%;  /* 338px / 350px * 100 = 96,57142857142857% */
        padding: 0 1.428571428571429%;  /* 5px / 350px * 100 = 1,428571428571429% */
    }

    textarea {
        padding: 1.428571428571429%;  /* 5px / 350px * 100 = 1,428571428571429% */
        min-height: 75px;
    }

    div#divSelect {
        width: 90.20618556701031%;  /* 350px / 388px * 100 = 90,20618556701031% */
        margin: 20px 4.896907216494845%;    /* 19px / 388px * 100 = 4,896907216494845% */
    }

    div.divCampoIzq,
    div.divCampoDer,
    div#divSelect,
    div#divTextarea {
        width: 90.20618556701031%;  /* 350px / 388px * 100 = 90,20618556701031% */
        margin: 20px 4.896907216494845%;    /* 19px / 388px * 100 = 4,896907216494845% */
    }

    div#divBotonIzq {
        float: left;
        width: 41.23711340206186%;  /* 160px / 388px * 100 = 41,23711340206186% */
        margin-top: 0;
        margin-left: 7.474926804123711%;    /* 29px / 388px * 100 = 7,474226804123711% */
        margin-right: 2.577319587628866%;   /* 10px / 388px * 100 = 2,577319587628866% */
        margin-bottom: 20px;
    }

    div#divBotonIzq button,
    div#divBotonDer button {
        width: 93.75%;
    }

    div#divBotonDer {
        float: left;
        width: 41.23711340206186%;  /* 160px / 388px * 100 = 41,23711340206186% */
        margin: 0;
        margin-right: 7.474226804123711%;    /* 29px / 388px * 100 = 7,474226804123711% */
        margin-bottom: 20px;
    }

    footer div#divFooter {
        width: 59.52380952380952%; /* 250px / 420px * 100 = 59,52380952380952% */
        margin: 0 20.23809523809524%;   /* 85px / 420px * 100 = 20,23809523809524% */
    }
}