/* David Pérez Saché */
html
{
	width: 1260px;
	font-size: 16px /* 1 rem */
}
body
{
	width: 100%;
	height: 91vh;	/* 100vh sin margin top */
	font-size: 15px;
	margin-top: 9vh;
}

div#main
{
	background-color: red;
	overflow: hidden;
}

div#izquierda
{
	margin-right: 1.587301587301587%;	/* 20px / 1260px (ancho base) * 100 = 1.5%  */
	margin-left: 1.587301587301587%;	/* 20px / 1260px (ancho base) * 100 = 1.5%  */
	width: 61.9047619047619%;	/* 780px / 1260px (ancho base) * 100 = 61.90% */
	height: 70vh;	/* 400px altura - 30px de padding top */
	float: left;
	padding: 2vh 0.7936507936507937% 0; /* 10px / 1260 * 100 = 0.79% */
	background-color: lightblue;
}

div#derecha
{
	margin-left: 1.587301587301587%;	/* 20px / 1260px * 100 = 1,5% */
	width: 29.36507936507937%;	/* 370px / 1260px * 100 = 29.36% */
	height: 69vh;	/* 400px altura - 50px de padding-top */
	float: left;
	padding-top: 3vh;
	padding-left: 2.380952380952381%;	/* 30px / 1260px * 100 = 2.38% */
	background-color: lightgreen;
}

footer
{
	height: 19vh;
	border: 1px solid black;
	background-color: cyan;
	clear: left;	/* Se pone esto para que el footer no se flote y rebase */
}

div#derecha div#imagen
{
	width: 40.540540540540540%;	/* 150px / 370px * 100 = 40.54% */
	height: auto;
}

div#derecha img
{
	width: 100%;
	height: auto;
}

div#izquierda form
{
	margin-top: 4em;
	padding: 1em 0 1em 8.974358974358974%;	/* 70px / 780px * 100 = 8.97% */
	border: 1px solid black;
}

div#izquierda input[type="text"]
{
	width: 69.2090395480226%;	/* 490px / 708px (ancho padre) * 100 = 69.20% */
	padding-left: 1.413429378531073%;	/* 10 / 708px * 100 = 1.41% */
	height: 1.8em;
	margin: 1em 0;
	display: block;
}

div#izquierda form div#centrar
{
	text-align: center;	/* Lo centra respecto al width */
}

div#izquierda form input[type="submit"]
{
	width: 21.1864406779661%;	/* 150px / 708px (Ancho total incluido los bordes y los paddings) * 100 = 21.18% */
	height: 2em;
	background-color: #D8D8D8;
}