body {
    width: 1280px;
    font-family: Arial;
    min-height: 1080px;
    margin: 0;
}

header, footer {
    background-color: lightgray;
}

header img {
    width: 400px;
}

main {
    min-height: 956.5px;
}

nav {
    width: 298px;
    min-height: 956.5px;
    border: 1px solid black;
    background-color: #303030;
    float: left;
}

nav div.navElemento {
    width: 290px;
    min-height: 25px;
    padding: 5px;
    color: white;
    font-weight: bold;
}

nav div.navElemento:hover {
    cursor: pointer;
    color: lightyellow;
    background-color: #505050;
}

nav div.navElementoTitulo {
    width: 290px;
    min-height: 25px;
    padding: 5px;
    color: rgb(255, 255, 196);
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

div#divTitulo {
    width: 978px;
    display: block;
    border: 1px solid black;
    margin-left: 300px;
    text-align: center;
    background-color: #1b1b1b;
    color: ghostwhite;
}

div#divContenido {
    margin-left: 300px;
}

form#formAlta {
    width: 798px;
    border: 1px solid lightblue;
    margin: 20px 90px;
    background-color:aliceblue;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

label {
    width: 150px;
    text-align: left;
    display: block;
}

input {
    width: 288px;
    min-height: 25px;
    border: 1px solid lightgray;
    padding: 0 5px;
}

select {
    width: 300px;   /* Al ser border-box indico el ancho total que va a tener el botón */
    padding: 5px;
    border: 1px solid lightgray;
    background-color: white;
}

form div {
    float: left;
}

div#divSelect {
    margin: 0 244px;
    margin-bottom: 20px;
}

div#divTextarea {
    margin: 0 149px;
}

div.divCampoIzq {
    margin: 20px 140px 20px 29px;
}

div.divCampoDer {
    margin: 20px 29px 20px 0;
}

div#divBotonIzq {
    margin: 20px 0;
    margin-left: 149px;
    margin-right: 200px;
}

div#divBotonIzq button {
    background-color: crimson;
    color: white;
    width: 150px;   /* Al ser border-box indico el ancho total que va a tener el botón, en vez de calcularlo */
    border: 1px solid black;
    padding: 5px;
    font-weight: bold;
}

div#divBotonDer {
    margin: 20px 0;
    margin-right: 149px;
}

div#divBotonDer button {
    background-color: darkturquoise;
    color: white;
    width: 150px;
    border: 1px solid black;
    padding: 5px;
    font-weight: bold;
}

textarea {
    width: 488px;
    padding: 5px;
    border: 1px solid lightgray;
    resize: none;
}

footer div#divFooter {
    width: 250px;
    margin: 0 515px;
    font-size: 0;
}

footer {
    position: relative;
    bottom: 0;
}

footer div#divFooter img {
    padding: 5px;
}

/* ----- Media Query Tablet ----- */
@media (max-width:768px) {
    body, header, footer, nav {
        width: 768px;
    }
    
    nav {
        float: none;
        min-height: 300px;
    }

    nav div.navElementoTitulo, 
    nav div.navElemento {
        text-decoration: none;
        width: 758px;
    }

    nav div.navElemento {
        font-size: 0.8em;
        text-align: center;
    }

    div#divTitulo {
        width: 768px;
        margin-left: 0;
    }

    div#divContenido {
        margin-left: 0;
    }

    form#formAlta {
        width: 726px;
        border: 1px solid lightblue;
        margin: 20px;
        background-color:aliceblue;
    }
    
    input {
        width: 288px;
        min-height: 25px;
        border: 1px solid lightgray;
        padding: 0 5px;
    }

    div.divCampoIzq {
        margin: 20px 86px 20px 20px;
    }

    div.divCampoDer {
        margin: 20px 20px 20px 0;
    }
    
    select {
        width: 300px;
        padding: 5px;
        border: 1px solid lightgray;
        background-color: white;
    }

    div#divSelect {
        margin: 20px 213px;
    }

    textarea {
        width: 488px;
        min-height: 50px;
    }

    div#divTextarea {
        margin: 0 113px;
    }

    div#divBotonIzq {
        margin-left: 113px;
        margin-right: 200px;
    }

    div#divBotonDer {
        margin-right: 113px;
    }

    div#divBotonIzq button,
    div#divBotonDer button {
        width: 150px;
    }
    
    div#divBotonDer {
        margin: 20px 0;
        margin-right: 99px;
    }
    
    footer div#divFooter {
        width: 250px;
        margin: 0 259px;
    }
}

/* ----- Media Query Smartphone ----- */
@media (max-width:420px) {
    body {
        font-size: 0.8em;
    }

    body, header, footer, nav {
        width: 420px;
    }

    header img {
        width: 210px;
        margin-left: 100px;
        margin-right: 110px;
    }

    nav {
        float: none;
        display: block;
        min-height: 35px;
    }

    nav div.navElementoTitulo, 
    nav div.navElemento {
        text-decoration: none;
        width: 410px;
    }

    div#divTitulo {
        width: 420px;
        margin-left: 0;
    }

    div#divContenido {
        margin-left: 0;
    }

    form#formAlta {
        width: 388px;
        margin: 15px;
    }

    form div {
        float: none;
    }

    input {
        width: 338px;
    }

    textarea {
        width: 338px;
        min-height: 75px;
    }

    select {
        width: 350px;
    }

    div.divCampoIzq,
    div.divCampoDer,
    div#divSelect,
    div#divTextarea {
        margin: 20px 19px;
    }

    div#divBotonIzq {
        float: left;
        width: 160px;
        margin-top: 0;
        margin-left: 29px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    div#divBotonDer {
        float: left;
        width: 160px;
        margin: 0;
        margin-right: 29px;
        margin-bottom: 20px;
    }

    footer div#divFooter {
        margin: 0 85px;
    }
}