body {
    width: 1280px;
    font-family: Arial;
    min-height: 1080px;
    margin: 0;
}

header, footer {
    background-color: lightgray;
}

header img {
    width: 400px;
}

main {
    min-height: 956.5px;
}

nav {
    width: 298px;
    min-height: 956.5px;
    border: 1px solid black;
    background-color: #303030;
    float: left;
}

nav div.navElemento {
    width: 290px;
    min-height: 25px;
    padding: 5px;
    color: white;
    font-weight: bold;
    margin: 10px 0;
}

nav div.navElemento:hover {
    cursor: pointer;
    color: lightyellow;
    background-color: #505050;
}

nav div.navElementoTitulo {
    width: 290px;
    min-height: 25px;
    padding: 5px;
    color: rgb(255, 255, 196);
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

div#divTitulo {
    width: 978px;
    display: block;
    border: 1px solid black;
    margin-left: 300px;
    text-align: center;
    background-color: #1b1b1b;
    color: ghostwhite;
}

div#divContenido {
    margin-left: 300px;
}

form#formAlta {
    width: 798px;
    border: 1px solid lightblue;
    margin: 20px 90px;
    background-color:aliceblue;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

label {
    width: 150px;
    text-align: left;
    display: block;
}

input {
    width: 288px;
    min-height: 25px;
    border: 1px solid lightgray;
    padding: 0 5px;
}

select {
    width: 300px;   /* Al ser border-box indico el ancho total que va a tener el botón */
    padding: 5px;
    border: 1px solid lightgray;
    background-color: white;
}

form div {
    float: left;
}

div#divSelect {
    margin: 0 244px;
    margin-bottom: 20px;
}

div#divTextarea {
    margin: 0 149px;
}

div.divCampoIzq {
    margin: 20px 140px 20px 29px;
}

div.divCampoDer {
    margin: 20px 29px 20px 0;
}

div#divBotonIzq {
    margin: 20px 0;
    margin-left: 149px;
    margin-right: 200px;
}

div#divBotonIzq button {
    background-color: crimson;
    color: white;
    width: 150px;   /* Al ser border-box indico el ancho total que va a tener el botón, en vez de calcularlo */
    border: 1px solid black;
    padding: 5px;
    font-weight: bold;
    min-height: 30px;
}

div#divBotonDer {
    margin: 20px 0;
    margin-right: 149px;
}

div#divBotonDer button {
    background-color: darkturquoise;
    color: white;
    width: 150px;
    border: 1px solid black;
    padding: 5px;
    font-weight: bold;
    min-height: 30px;
}

textarea {
    width: 488px;
    padding: 5px;
    border: 1px solid lightgray;
    resize: none;
}

footer div#divFooter {
    width: 250px;
    margin: 0 515px;
    font-size: 0;
}

footer {
    position: relative;
    bottom: 0;
}

footer div#divFooter img {
    padding: 5px;
}